body{
    margin:0;
    padding:0;
    box-sizing: border-box;
 /*    overflow: hidden; */
}

.positiontext{
    position: relative;
    display: block;
    z-index: 100;
    margin-top: -1530px;
 /*    width: 100%;*/
     min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.positiontext .texttitle{
    display: block;
    position: absolute;
    color: white;
    font-size: 10vh;
    text-align: center;
}

.headerBg{
    margin-top: -260px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}

section{
    margin-top: 60px;

    color: #111;
}

section h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

section p{
    font-size: 1.2em;
}

.btnV{
    position: absolute;
    margin-top: 100px;
    background-color: #0AA1DD;
  border-radius: 8px;
  border: #0AA1DD;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: -1px 6px 4px rgba(0, 0, 0, 0.25);
}

.topBtn{
    display: flex;
    position: relative;
    margin-top: 180px;
  
}

img.viewT{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.astext{
  
}

.textP{
   font-size: 29px;
   text-decoration-line: underline;
   color: white;
   position: relative;
   margin-top: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.textV{
  font-size: 29px;
  text-decoration-line: underline;
  color: white;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bgBlue{
    position: relative;
    padding: 100px;
    height: fit-content;
    background-color: #0BA1DE;
}

/*Set iframe*/
  .datatable{
    top:0;
    left:0;
    width:100%; 
    height: 1270px;
  }

  .bottomP{
    position: relative;
    display: flex;
    margin-bottom: 50px;
  }

  .imgUser{
    width: auto;
    height: auto;
  }

  iframe{
    border: none;
    border-radius: 26px;
    box-shadow: -1px 6px 4px rgba(0, 0, 0, 0.25);
  }

  .bgW{
    border: none;
    border-radius: 26px;
    background: white;
    box-shadow: -1px 6px 4px rgba(0, 0, 0, 0.25);
  }
  .spacelr{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }