body {
    margin: 0;
    font-family: 'pk_sukhothairegular',apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      border: burlywood;
  }
  
  .container{
    position: relative;
    align-items: center;
    justify-content: center;
  }

  table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
  }

  td {
    height: 50px;
    vertical-align: bottom;
  }