body {
    margin: 0;
    font-family: 'pk_sukhothairegular',apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  *{
    font-family: 'pk_sukhothairegular',apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
  
  .container{
    position: relative;
    align-items: center;
    justify-content: center;
  }

  table, td, th {
    border: 1px solid #BFBFBF;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
  }

  td {
    height: 50px;
    vertical-align: bottom;
  }

  thead{
    background: #0BA1DE;
    color:antiquewhite;
  }

  .btnEdit{
    background-color: #0AA1DD;
    border-radius: 8px;
    border: #0AA1DD;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -1px 6px 4px rgba(0, 0, 0, 0.25);
  }

  